[module:synergy]
enabled=yes
type=CLIENT
module=synergy
hostname=192.168.1.2
port=24800
validate_certificate=no
use_ssl=yes
client_id=laptop1
translate=table1

[module:mouse]
enabled=yes
type=MOUSE_OUT
module=evdev_mouse

[module:keyboard]
enabled=yes
type=KEYBOARD_OUT
module=evdev_keyboard

[module:display]
enabled=yes
type=DISPLAY
module=sway
polling=60

